@mixin mobile {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin container {
  width: 100%;
  max-width: rem(768px);
  padding: 0 rem(24px);
  margin: 0 auto;

  @include mobile {
    max-width: rem(320px);
    padding: 0 rem(16px);
  }
}

@mixin loaded {
  @keyframes slideRightToLeft {
    0% {
      background-position: right;
    }
    50% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }

  background: linear-gradient(
      to left,
      map-get($theme-color, 'gray-dark') 20%,
      lighten(map-get($theme-color, 'gray-dark'), 5) 50%
    )
    right;
  background-size: 150%;
  transition: 0.5s ease-out;
  animation-duration: 2s;
  animation-name: slideRightToLeft;
  animation-iteration-count: infinite;
}

@mixin btn-reset {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

@mixin input-reset {
  margin: 0;
  padding: 0;
  border: none;
  background: none;

  &:focus,
  &:not(:placeholder-shown) {
    outline: none;
  }
}

// object-fit: cover not working in target browsers...
@mixin object-fit {
  position: relative;
  overflow: hidden;

  img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

@mixin custom-scrollbar {
  scrollbar-color: #bfbfbf #ffffff; // Firefox: «цвет ползунка» «цвет полосы скроллбара»/
  scrollbar-width: thin; // Firefox: толщина

  // полоса прокрутки (скроллбар)
  &::-webkit-scrollbar {
    width: 5px; // ширина вертикального скролла
    height: 5px; // высота (толщина) горизонтального скролла
    background-color: #ffffff;
    box-shadow: inset 0 0 3px -1px #999;
    border-radius: 3px;
  }

  // ползунок скроллбара
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #bfbfbf;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #d5d5d5;
  }

  // стрелки скроллбара
  &::-webkit-scrollbar-button:vertical:start:decrement {
    background: #fcfcfc !important;
    height: 0;
  }

  &::-webkit-scrollbar-button:vertical:end:increment {
    background: #fcfcfc !important;
    height: 0;
  }

  &::-webkit-scrollbar-button:horizontal:start:decrement {
    background: #fcfcfc !important;
    width: 0;
  }

  &::-webkit-scrollbar-button:horizontal:end:increment {
    background: #fcfcfc !important;
    width: 0;
  }
}
